:root {
  --base-container-width: 1200px;
  --base-vertical-padding: 94px;
  --basic-grey-color: #757575;
  --secondary-grey-color: #f5f4fa;
  --deep-black-color: #000000;
  --basic-black-color: #212121;
  --secondary-black-color: #2f303a;
  --basic-blue-color: #2196f3;
  --secondary-blue-color: #188ce8;
  --basic-white-color: #ffffff;
  --secondary-white-color: #f5f5f5;
  --alternative-white-color: #eeeeee;
  --alternative-rgba-white-color: rgba(255, 255, 255, 0.6);
  --header-border-grey-color: #ECECEC;
}