/* Временный задний цвет, фон для видимости логотипа  */
.footer {
  background-color: var(--secondary-black-color);
}

.footer__content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__address {
  margin-top: 20px;
}

.item-center {
  margin: 9px 0;
}

.footer__logo .logo__part {
  color: var(--basic-white-color);
}

.address__list {
  list-style-type: none;
  font-style: normal;
}

.address__list .item__link {
  line-height: 1.71;
  text-decoration: none;
  color: var(--basic-white-color);
}

.address__list .item__link:hover,
.address__list .item__link:focus,
.address__list .item__link:active {
  color: var(--basic-blue-color);
}

.list__item .link-alpha-grey {
  text-decoration: none;
  color: var(--alternative-rgba-white-color);
}

.footer__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--basic-blue-color);
}